@CHARSET "UTF-8";

#gallery a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

#gallery .gallery_item {
	float: left;
	width: 220px;
	height: 220px;
}

#gallery .gallery_item img {
	width: 220px;
	height: 220px;
}

#gallery .clear {
	clear: both;
}

/* shutter override */
#gallery div#shNavBar a {
	display: inline-block !important;
}