<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="gallery"
		label="COM_GALLERY_CONFIG_GALLERY_SETTINGS_LABEL"
		description="COM_GALLERY_CONFIG_GALLERY_SETTINGS_DESC">
		
		<field
			name="remove_backlink_code"
			type="text"
			label="COM_GALLERY_GALLERY_FIELD_REMOVE_BACKLINK_CODE_LABEL"
			description="COM_GALLERY_GALLERY_FIELD_REMOVE_BACKLINK_CODE_DESC"
			default="0">
		</field>
		
		<field
			name="load_jquery"
			type="radio"
			label="COM_GALLERY_GALLERY_FIELD_LOAD_JQUERY_LABEL"
			description="COM_GALLERY_GALLERY_FIELD_LOAD_JQUERY_DESC"
			default="1">
			
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field
			name="lazy_loading"
			type="radio"
			label="COM_GALLERY_GALLERY_FIELD_LAZY_LOADING_LABEL"
			description="COM_GALLERY_GALLERY_FIELD_LAZY_LOADING_DESC"
			default="0">
			
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<field
			name="thumbnail_size"
			type="int"
			label="COM_GALLERY_GALLERY_FIELD_THUMBNAIL_SIZE_LABEL"
			description="COM_GALLERY_GALLERY_FIELD_THUMBNAIL_SIZE_DESC"
			default="220"/>
			
		<field
			name="max_resized_width"
			type="int"
			label="COM_GALLERY_GALLERY_FIELD_MAX_RESIZED_WIDTH_LABEL"
			description="COM_GALLERY_GALLERY_FIELD_MAX_RESIZED_WIDTH_DESC"
			default="1110"/>
			
		<field
			name="max_resized_height"
			type="int"
			label="COM_GALLERY_GALLERY_FIELD_MAX_RESIZED_HEIGHT_LABEL"
			description="COM_GALLERY_GALLERY_FIELD_MAX_RESIZED_HEIGHT_DESC"
			default="888"/>
	</fieldset>
</config>